@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body,
html {
  height: 100%;
  background-color: black;
}

.bg-container {
  width: 100%;
  height: 100%;

  background-image: url(https://i.imgur.com/HHiKqUr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(28, 28, 28, 0.69);
  opacity: 100%;
}

.container {
  max-width: 90rem;
  margin: 10rem auto;
  height: 70%;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: white;
  background-color: #00000068;
}
nav p {
  padding: 0.5rem 2rem;
}
nav a {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.232);
  background: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  transition: background-color 0.3s, border 0.3s;
  text-decoration: none;
}
nav a:hover {
  color: white;
  border: 1px solid #74cb61;
  background-color: #74cb612a;
  cursor: pointer;
}
#logout {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.232);
  background: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: background-color 0.3s, border 0.3s;
}
#logout:hover {
  color: white;
  border: 1px solid #74cb61;
  background-color: #74cb612a;
  cursor: pointer;
}

/* index.ejs */
#auth-container {
  margin: auto;
  width: 35rem;
  height: 35rem;
  border-radius: 10px;
  background: none;
  border: 1px solid white;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  background-color: #0000002b;
}
#auth-container h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #79e361;
}
#auth-container h3 {
  font-weight: 300;
  font-size: 1.7rem;
  margin: 1rem 0 1rem 0.5rem;
}
#auth-container h3:first-of-type {
  margin-top: 2rem;
}
#login,
#signup {
  font-size: 1.7rem;
  font-weight: 100;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.232);
  padding: 0.5rem 10rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline;
  transition: background-color 0.3s, border 0.3s;
}
#login:hover,
#signup:hover {
  color: white;
  border: 1px solid #74cb61;
  background-color: #74cb612a;

  cursor: pointer;
}
/* sessions/new.ejs */
#auth-container label {
  font-size: 1.7rem;
  font-weight: 300;
  display: inline-block;
  margin-top: 1rem;
}

input[type="email"],
input[type="password"] {
  font-size: 1.7rem;
  font-weight: 100;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.232);

  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline;
  transition: background-color 0.3s, border 0.3s;
  text-align: left;
  padding: 0.8rem 1rem;
  width: 27rem;
  background: none;
  margin-top: 0.5rem;
}
#auth-container input[type="submit"] {
  width: 27rem;
  padding: 0.8rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.232);
  border-radius: 5px;
  background: none;
  font-weight: 100;
  font-size: 1.5rem;
  margin-top: 2rem;
  transition: background-color 0.3s, border 0.3s;
}
#auth-container input[type="submit"]:hover {
  color: white;
  border: 1px solid #79e361;
  background-color: #74cb612a;
  cursor: pointer;
}

#auth-a-El {
  font-size: 1.4rem;
  color: #79e361;
  text-align: center;
  margin-top: 1rem;
}
#invalid {
  text-align: center;
  color: red;
  font-size: 1.4rem;
}
/* rounds/new.ejs */
/* removing arrows on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  border: 1px solid rgb(186, 186, 186);
  border-radius: 3px;
  font-size: 1.5rem;
}
#heading {
  color: white;
  font-weight: 300;
  font-size: 3rem;
}
.new-form {
  background-color: white;
  padding: 1rem;
}
#form-details,
#form-performance {
  height: 11rem;
  margin-top: 1rem;
  border-radius: 5px;
}
#form-details {
  height: 10rem;
  width: 60%;
  padding: 1rem 2rem 0 2rem;
}
#form-details input {
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
}
.grid {
  display: grid;
  grid-template-rows: 3;
  row-gap: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
}
#form-grid {
  grid-template-columns: repeat(19, 1fr);
}
#form-grid input {
  text-align: center;
}
#hole {
  display: flex;
  color: grey;
}
#hole label {
  margin-right: 2rem;
}
label[for="par"] {
  margin-right: 3rem;
}
label[for="score"] {
  margin-right: 0.65rem;
}

#submit {
  color: #79e361;
  border: 1px solid #79e361;
  background: none;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  transition: background-color 0.3s, border 0.3s;
  margin-top: 1.5rem;
}
#submit:hover {
  cursor: pointer;
  background-color: #74cb612a;
}

#returnDash {
  color: white;
  font-size: 1.4rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* dashboard.ejs */
#dash-heading {
  margin-left: 5rem;
}
.lg-heading {
  font-weight: 100;
  font-size: 4rem;
  color: white;
  margin-bottom: 1rem;
}
#dash-container {
  max-width: 90rem;
  height: 75%;
  padding-top: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.119);
  border-radius: 5px;
  background-color: #0000002b;
  overflow-y: scroll;

  margin-top: 8rem;
}
#dash-container::-webkit-scrollbar {
  display: none;
}

#new-round {
  margin-left: 5rem;
  display: inline-block;
  color: #79e361;
  border: 1px solid #79e361;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  text-decoration: none;
  transition: background-color 0.3s, border 0.3s;
}
#new-round:hover {
  background-color: #74cb612a;
}

#round-container {
  width: 80rem;
  height: 9rem;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: black;
  margin: 1rem 5rem;
  font-size: 1.4rem;
}
#show-link {
  text-decoration: none;
}

#round-container p {
  margin: 0.5rem 0;
  padding: 0;
}
table {
  text-align: left;
  width: 100%;
}
thead th {
  color: rgb(160, 160, 160);
  font-weight: 300;
  font-size: 1.8rem;
}
thead th:nth-child(1) {
  width: 50%;
}
table td {
  font-size: 1.8rem;
  font-weight: 300;
}
/* show.ejs */
#show-date {
  width: 30%;
}

#show-grid {
  font-weight: 300;
  grid-template-columns: repeat(20, 1fr);
}
.grid-item:nth-child(-n + 20) {
  color: rgb(160, 160, 160);
}
.grid-item:nth-child(n + 21):nth-child(-n + 40) {
  color: grey;
}
.grid-item:nth-child(n + 41):nth-child(-n + 60) {
  color: black;
}

#edit {
  color: #79e361;
  border: 1px solid #79e361;
  background: none;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  transition: background-color 0.3s, border 0.3s;
  margin: 1rem 0 0 0;
  display: inline;
  text-decoration: none;
}
#edit:hover {
  cursor: pointer;
  background-color: #74cb612a;
}

#show-details {
  height: 9rem;
  border-radius: 5px;
  width: 60%;
  padding-right: 4rem;
  margin-bottom: 1rem;
}
#show-par-head {
  width: 10%;
}

#show-details table {
  margin-left: 1rem;
}
#form-delete {
  display: inline;
}
#delete {
  color: #e53f3f;
  border: 1px solid #e53f3f;
  background: none;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  transition: background-color 0.3s, border 0.3s;
  margin: 1rem 0 0 1rem;
}
#delete:hover {
  cursor: pointer;
  background-color: #c92c2c34;
}

/* delete user */
#returnDashUserDelete {
  margin-top: 3rem;
  color: white;
  font-size: 1.4rem;
  text-align: center;
}

.hidden {
  display: none;
}
/* 
.color-par {
  color: rgb(226, 163, 38);
}

.color-score {
  color: #46ac30;
}
.color-final {
  color: rgb(18, 136, 205);
} */
