<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>

  <body>
    <div class="bg-container">
      <div id="auth-container">
        <p id="invalid">Invalid email or password</p>

        <a id="auth-a-El" href="/sessions/new">Try again</a>
      </div>
    </div>
  </body>
</html>
