<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>

  <body>
    <div class="bg-container">
      <div id="auth-container">
        <h1>Hello there!</h1>
        <h3>Already registered?</h3>
        <a id="login" href="/sessions/new">Log In</a>
        <h3>New here?</h3>
        <a id="signup" href="/users/new">Sign Up</a>
      </div>
    </div>
  </body>
</html>
