<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>

  <body>
    <div class="bg-container">
      <div id="auth-container">
        <a id="login" href="/sessions/new">LOG IN</a>
        <div id="line"></div>
        <a id="signup" href="/users/new">SIGN UP</a>
      </div>
    </div>
  </body>
</html>
